.preloader{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #303030;
    z-index: 2000;
    span{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border-right: 3px solid  crimson;
        animation: rotate .6s linear infinite ;
        @keyframes rotate {
            from{
                transform: rotate(0);
            }
            to{
                
                transform: rotate(360deg);
            }
        }
    }
}